/* start common */
a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

/* end common */
.head {
    line-height: 50px;
    background: #003679;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.sidebar-categories .main-categories {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
}

.sidebar-categories .main-nav-list {
    width: 100%;
    padding-left: 0;
}

.sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding: 0;
    padding-left: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.sidebar-categories .main-nav-list a:hover,
.sidebar-categories .main-nav-list a:focus {
    color: #ffba00;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #ffba00;
    border: none;
}

.sidebar-categories .main-nav-list a .number {
    color: #cccccc;
    margin-left: 10px;
}

.sidebar-categories .main-nav-list a .lnr {
    margin-right: 10px;
    display: none;
}

.sidebar-categories .main-nav-list.child a {
    padding-left: 32px;
}

.sidebar-filter {
    margin-top: 50px;
}

.sidebar-filter .top-filter-head {
    line-height: 60px;
    background: #828bb3;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.sidebar-filter .head {
    line-height: 60px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    margin-top: 5px;
}

.sidebar-filter .common-filter {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
}

.sidebar-filter .common-filter .filter-list {
    position: relative;
    padding-left: 28px;
}

.filter-list {
    line-height: 30px;
}

.filter-list i {
    margin-right: 10px;
    cursor: pointer;
}

.filter-list .number {
    color: #ccc;
}

.filter-list label {
    margin-bottom: 3px;
    cursor: pointer;
}

.main-categories a {
    color: #000;
}

.nav-tabs .nav-item {
    text-align: left;
    width: 100%;
}

.single-widget-area {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.credit-tabs-content .nav-tabs .nav-link {
    text-align: left;
}

.tab-content td {
    padding: 1rem !important;
}

.tab-content p {
    text-indent: 2em;
    width: 100%;
}

.tab-content h4,
.tab-content h5,
.tab-content h6 {
    width: 100%;
}

.tab-content .tips {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .lattest-product-area.category-list .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .lattest-product-area.category-list .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .lattest-product-area.category-list .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .lattest-product-area.category-list .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .lattest-product-area.category-list .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .lattest-product-area.category-list .container {
        max-width: 100%;
    }
}
